<!DOCTYPE html>
<html>
<head><title>Filtre Uygula</title></head>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<body>
  <div class="header-section">
      <h2>Filtre Seç</h2> 
<form method="post">
  <select name="action">
    <option value="average">Ortalama</option>
    <option value="median">Ortanca</option>
    <option value="edge">Kenar Algılama</option>
    <option value="sharpen">Keskinleştirme</option>
    <option value="smooth">Yumuşatma</option>
  </select>
  <input type="submit" value="Uygula">
</form>
  </div>
<div class="sidetoside">
  <div class="first-section">
<h2>Orijinal Resim</h2> 
<img src="/static/uploads/{{ filename }}" width="300">
</div>
<div class="first-section">
<h2>Sonuç</h2>
<img src="/static/uploads/processed_{{ filename }}" width="300"></div>
<div class="first-section">
<h2>Histogram</h2>
<img src="/static/uploads/hist_{{ filename }}" width="300"></div>
</div>
</body>
</html>
